body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-box {
  background: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-buttons {
  display: flex;
  justify-content: space-around;
  gap: 5px; /* Add space between buttons */
  flex-wrap: wrap;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 18px;
  width: 200px; /* Fixed width for better alignment */
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.login-button .icon {
  margin-right: 10px;
  font-size: 20px;
}

.student-login {
  background-color: #4caf50;
  color: white;
}

.tutor-login {
  background-color: #2196f3;
  color: white;
}

.login-button:hover {
  background-color: #333;
  color: white;
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
